.footer-main {
    background:#363636;
}

.copyright-link {
    color:#ffffff;
}

.copyright-link:hover {
    color:#78e2a0;
}

.navbar-sections::before {
    color:#78e2a0;
    content:'$ ';
}

.nav-link:hover {
    --bs-navbar-hover-color:#fff;
}

.custom-margin {
    margin-left:13.125rem!important;
    margin-right:13.125rem!important;
}

.container {
    margin: 0;
    max-width: 100vw;
}

.description-txt {
    color: #9CA3AF;
    font-size: .875rem;
}

.custom-btn {
    --bs-btn-bg: #78e2a0;
    --bs-btn-color: #000000;
    --bs-btn-border-color: #78e2a0;
    --bs-btn-hover-bg: #5cc787;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-border-color: #5cc787;
}

.custom-txt {
    color: #78e2a0;
}

.social-media {
    color: #9CA3AF;
    font-size: 28px;
    padding: 0 0.438rem;
}

.social-media:hover {
    color: #ffffff;
}

.pfp {
    border-radius: 50%;
    height: 25.875rem;
    width: 25.875rem;
}

.webheader {
    background:#78e2a0;
    padding:5px;
}

:root {
    --bs-body-font-family:'JetBrains Mono',monospace;
}

blogs {
    min-height:100vh;
    overflow:hidden;
}

body {
    background:#1f222a;
}

contacts {
    min-height:100vh;
    overflow:hidden
}

experience {
    min-height:100vh;
    overflow:hidden;
}

home {
    min-height:100vh;
    overflow:hidden;
}

home > div > .row > .col-sm-12 {
    flex: 3 1;
    padding-right: 200px;
}

home > div > .row > .col {
    flex: 1 2;
}

skills {
    min-height:100vh;
    overflow:hidden;
}

skillcard {
    width: 250px;
    height: 90px;
    border-radius: 8px;
    background: #2E2E2E;
    padding: 15px;
    position: relative;
    color: #9CA3AF;
    margin-top: 21px;
    margin-left: 21px;
}

skillcard > p {
    font-size: .875rem;
}

skillcard > img {
    position: absolute;
    top: 10px;
    right: 15px;
    fill: #9CA3AF;
}

skillcard:hover {
    color: #ffffff;
    background: #2D2D2D;
}

projects {
    min-height:100vh;
    overflow:hidden
}

projectcard {
    width: 390px;
    height: 595px;
    background: #363636;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 31px;
    margin-left: 80px;
}

projectcard > p {
    padding: 5px 18px;
    text-align: justify;
}

projectcard > h5,
projectcard > div {
    text-align: center;
}

projectcard > div > a::after {
    content: ' ->';
}
